<!--<footer class="main_footer">
  <div class="wrapper">
    {% include social_footer.html %}
    <div class="copyright">
      <p>&copy; {{site.time | date: '%Y'}} All rights reserved. Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a></p>
    </div>
  </div>
</footer> --><!-- End Section Footer -->


 <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="ftr_top wow fadeInUp">
                    <div class="row">
                         <div class="col-lg-4 col-sm-4">
                             <div class="ftr_cont">
                                 <a href="{{site.baseurl}}" class="ftr_logo"><img src="{{site.baseurl}}/assets/images/ftr_logo.png" alt="" /></a>
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                 </p>
                                 <a href="javascript:void(0);" class="ftr100"><img src="{{site.baseurl}}/assets/images/100.png" alt="" /></a>
                             </div>
                         </div>
                         <div class="col-lg-5 col-sm-5">
                             <div class="ftr_cont mid">
                                 <h4>Quick Links</h4>
                                 <ul>
                                     <li class="active"><a href="index.html">Home</a></li>
                                     <li><a href="product.html">Product</a></li>
                                     <li><a href="module.html">Module</a></li>
                                     <li><a href="resource.html">Resources</a></li>
                                     <li><a href="about.html">About</a></li>
                                     <li><a href="contact.html">Contact</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-3 col-sm-3">
                             <div class="ftr_cont">
                                 <h4>NewsLetter</h4>
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                 </p>
                                 <form method="post" action="#">
                                     <input type="email" placeholder="Email" />
                                     <input type="submit" value="Subscribe" />
                                 </form>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="ftr_bott clearfix">
                    <div class="row">
                         <div class="col-lg-6 col-sm-6">
							 <p class="copy">&copy; {{site.time | date: '%Y'}} Spider Tech <a href="#" target="_blank">All Rights Reserved</a></p>
                         </div>
                         <div class="col-lg-6 col-sm-6">
                             <div class="social wow fadeInUp">
                                 <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                 <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                 <a href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                 <a href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </footer>
         <!--    /footer  -->

		<script src="{{ "/assets/js/jquery-2.2.4.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.fancybox.pack.js?v=2.1.5" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/jquery.fancybox-media.js?v=1.0.6" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/easyResponsiveTabs.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/owl.carousel.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
	</body>
</html>
