
<!--<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> -->

<header>
				<div class="container">
					
					<a href="{{site.baseurl}}" class="logo wow zoomIn"><img src="{{site.baseurl}}/assets/images/logo.png" alt=""/></a>					
					
						<div class="navigation">
						<nav class="navbar">
								<!-- toggle for better mobile display -->
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li  class="active">
											<a href="{{site.baseurl}}">Home</a>
										</li>
										<li class="dropdown">
											<a href="{{site.baseurl}}/product" class="dropdown-toggle">Product <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li>
													<a href="javascript:void(0);"> module1</a>
												</li>
												
												<li>
													<a href="javascript:void(0);"> module2 </a>
												</li>
												<li>
													<a href="javascript:void(0);"> module3 </a>
												</li>
											</ul>
										</li>
										<li>
											<a href="{{site.baseurl}}/module">Module</a>
										</li>
										<li class="dropdown">
											<a href="resource.html" class="dropdown-toggle">resources <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li>
													<a href="blog.html"> blog</a>
												</li>
												
												<li>
													<a href="calculator.html">calculator </a>
												</li>
											</ul>
										</li>
										<li>
											<a href="about.html">about</a>
										</li>
										<!-- <li>
											<a href="javascript:void(0);">Contact</a>
										</li> -->
									</ul>
								</div>
							</nav><!-- navbar -->
							<a href="contact.html" class="ban-btn">Request a demo</a>
						</div>
				</div><!-- container -->
			</header>